html { 
    width:100%; 
    height:100%; 
    background:url(814px-Play_fight2.JPG) center center no-repeat fixed;
}

.img_plot {
    opacity:0.5;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    display: block;
    margin-left: auto;
    margin-right: auto
}

.img_plot:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
